global
    log /dev/log local0
    log /dev/log local1 notice
    daemon

defaults
    log global
    mode http
    option httplog
    option dontlognull
    timeout connect 5s
    timeout client  30s
    timeout server  30s

frontend http_front
    bind *:80
    default_backend web_servers

backend web_servers
    balance roundrobin
{% for host in groups['webservers']%}
    server {{ host }} {{ hostvars[host]['ansible_host'] }}:80 check
{% endfor %}
